@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

/* Add your CSS here */
body {
  font-family: "Inter", Arial, sans-serif;
  margin: 0;
  background-color: #e5ecff;
}

header {
  background: linear-gradient(to bottom, #002f81, #001842);
  padding: 50px 100px;
  padding-bottom: 20px;
  color: white;
  text-shadow: 2px 2px 4px black;
  text-align: center;

  #logo {
    display: inline-block;
    width: 25%;
    max-width: 200px;
    min-width: 100px;
    filter: drop-shadow(2px 2px 4px black);
  }
}

/* Timeline Container */
.timeline-container {
  gap: 20px;
  padding: 20px;
  overflow-x: scroll;
}

.timeline-contents{
  width: min-content;
}

.timeline-row {
  flex: 1;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.card {
  aspect-ratio: 1 / 1;
  min-width: 240px;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
  background-color: white;
  box-shadow: 4px 4px 8px;
}

.card > #bg {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;

  mask-image: linear-gradient(to top, rgba(0,0,0,1) 0%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0) 100%);
}

.card > .info {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;

  h2 {
    font-size: 2em;
    margin: 0px;
  }

  h3 {
    font-size: 1.25em;
    font-weight: 200;
    margin: 10px 0px;
  }
}

.card > .description {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  padding: 16px;
  box-sizing: border-box;
  visibility: hidden;
  
  p {
    margin: 0px;
  }
}

.card:hover > .description {
  background: linear-gradient(to bottom, rgba(0, 24, 66, 1) 50%, rgba(0, 24, 66, 0.15));
  color: white;
  text-shadow: 2px 2px 1px black;
  visibility: visible;
}

body > p {
  text-align: center;
}

#mobile-help {
  display: none;
  margin-bottom: 0px;
}

@media (max-height: 900px) {
  header {
    padding: 50px;
    padding-bottom: 10px;
  }

  #help {
    display: none;
  }

  #mobile-help {
    display: block;
    font-size: 1.2em;
  }

  .timeline-row {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .card {
    width: calc(100vw - 40px);

    .info > h2 {
      font-size: 2.5em;
    }

    .info > h3 {
      font-size: 1.8em;
    }
  }

  .description {
    font-size: 1.25em;
  }
}