@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

/* Add your CSS here */
body {
  font-family: "Inter", Arial, sans-serif;
  margin: 0;
}

header {
  background: linear-gradient(to bottom, #002f81, #001842);
  padding: 10px;
  color: white;
  text-shadow: 1px 1px 2px black;
  text-align: center;
}

#logo {
    display: inline-block;
    width: 25%;
    max-width: 200px;
    min-width: 100px;
    filter: drop-shadow(2px 2px 4px black);
  }